# Copyright © 2026 <https://github.com/technosf>
# SPDX-FileCopyrightText: © 2026 <https://github.com/technosf>
#
# SPDX-License-Identifier: GPL-3.0-or-later
#
# This file is sourced by direnv, and provides some helper functions for building
# and running the application locally. It is not intended to be used by end users,
# but rather to make development easier.

PATH_add scripts/helpers

alias code="wmctrl -s 2;code ."
